.tracks {
  margin-left: 380px;

  .tracks-results {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    min-height: 60px;
    margin: 0px 0px 40px 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 3px 20px;

    .results-search {
    }

    .results-count {
      margin-left: 20px;
    }
  }

  .list-tracks {
    .list-track {
      background-color: #fff;
      border: 1px solid #e1e1e1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 90px;
      padding: 0px 40px;
      border-radius: 10px;

      .track-description {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .description-artist {
          position: relative;

          .artist__icon {
            display: block;
            width: 70px;
            height: 70px;
          }

          .artist-trigger {
            width: 40px;
            height: 40px;
            position: absolute;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
            background-color: #27ae60;
            border-radius: 50%;

            .trigger__icon {
              width: 20px;
              height: 20px;
              position: absolute;
              top: calc(50% - 10px);
              left: calc(50% - 10px);
            }
          }
        }
        .description-title {
          display: flex;
          flex-flow: column nowrap;
          margin-left: 40px;

          .title__artist {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 1.4em;
            line-height: 110.5%;
          }
          .title__album {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 1.1em;
            line-height: 110.5%;
            color: #4f4f4f;
          }
        }
      }
    }

    .list-track:not(:last-child) {
      margin-bottom: 25px;
    }

    .track-active {
      border: 2px solid #27ae60;
    }
  }
}
