footer {
  background-color: #fff;
  font-family: "Rubik", sans-serif;
  color: #27ae60;
  font-size: 1.1em;
  border-top: 1px solid #e1e1e1;
  font-family: "Poppins", sans-serif;
  width: 100%;
  z-index: 100;
  position: fixed;
  bottom: 0px;
  left: 0px;

  .footer__row {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .github-link {
      cursor: pointer;
      color: #27ae60;
      &:hover {
        text-decoration: underline;
      }
    }

    .footer-logo {
      .logo__link {
        display: flex;
        background-color: #27ae60;
        min-width: 50px;
        min-height: 30px;
        padding: 5px;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 900px) {
  footer {
    position: static;
   
  }
}
