body {
  background-color: #fafafa;
  height: 100%;
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.container {
  max-width: 1046px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

main {
  flex: 1 1 auto;
  padding: 100px 0px 110px 0px;
}

@media (max-width: 900px) {
  main {
    padding: 100px 0px 30px 0px;
  }
}
