body {
  background-color: #fafafa;
  height: 100%;
  line-height: 1;
}

.wrapper {
  min-height: 100%;
}

.container {
  max-width: 1046px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

main {
  padding: 100px 0px 110px 0px;
}
